input {
	stdin{}
		file {
		path => "/root/EnumerationTool/Data/nmap_scan.csv"
		start_position => "beginning"
		sincedb_path => "/dev/null"
		}
}
filter {
	csv {
		columns => ["ip", "host", "os", "protocol", "port", "service"]
	}
} 
output {
	elasticsearch {
		hosts => "localhost:9200"
		index => "enum"
		document_type => "enumeration_results"
	}
	stdout {}		
}
